<div class = "col-sm-4">
			
	<a href="#" class="widget widget-hover-effect1">
		<div class="widget-simple themed-background">
			<center>
				<h4 class="widget-content widget-content-light">
					<strong><span ng-bind="name"><%= I18n.t('surveyNamePreview') %> </span></strong>

					<small><span ng-bind="description"><%= I18n.t('surveyDescriptionPreview') %></span></small>
				</h4>
			</center>
		</div>
		<div class="widget-extra">
			<div class="row text-center">
				<div class="col-xs-4">
					<h3>
						<strong>0</strong><br>
						<small><%= I18n.t('questions') %></small>
					</h3>
				</div>
				<div class="col-xs-4">
					<h3>
						<strong>0</strong><br>
						<small><%= I18n.t('answer') %></small>
					</h3>
				</div>
				<div class="col-xs-4">
					<h3>
						<strong>0</strong><br>
						<small><%= I18n.t('views') %></small>
					</h3>
				</div>
			</div>
		</div>
	</a>
												
</div>